
.login-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}
.home-container{
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: #f0f0f0;
  overflow-y: hidden;
}
.user-detail{
  font-size: large;
}
.user-list{
  width:20vw;
  height: 60vh;
  
}
.text-area{
  width: 80vw;
  height: 100vh;
}
.vertical-line {
  width: 1px;
  background-color: #ccc;
  height: 100%;
  margin: 0 20px;
}
.login-form, .register-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.input-field {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 100px;
}
.input-field:focus {
  outline: none;
  border: none;
  box-shadow: 0 0 10px rgba(97, 95, 95, 0.5);
  transform: scale(1.05);
  transition: all 0.5s ease;
}

.password-container {
  position: relative;
  width: 95%;
  display: flex;
  align-items: center;
}

.input-field-password {
  width: 100%;
  padding: 10px;
  padding-right: 40px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 100px;
}

.input-field-password:focus {
  outline: none;
  border: none;
  box-shadow: 0 0 10px rgba(97, 95, 95, 0.5);
  transform: scale(1.05);
  transition: all 0.5s ease;
}

.password-toggle {
  position: absolute;
  right: 15px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.password-toggle:hover {
  opacity: 0.7;
}
.login-button, .register-button {
  width: 95%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 100px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.login-button:hover, .register-button:hover {
  background-color: #0056b3;
}
.search-container {
  position: relative;
  width: 100%;
  display: flex; /* Use flexbox to align input and icon on the same line */
  align-items: center; /* Align the input and icon vertically in the same line */
}

.input-field-search {
  width: 100%; /* Make the input field take up the available space */
  padding-right: 30px; /* Ensure space for the icon */
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 100px;
}
.input-field-search:focus{
  outline: none;
  border: none;
  box-shadow: 0 0 10px rgba(97, 95, 95, 0.5);
  transform: scale(1.01);
  transition: all 0.5s ease;
  -webkit-appearance: none; /* Remove default clear button in WebKit browsers */
  appearance: none; /* Remove default clear button in all browsers */
}
.input-field-search::-webkit-search-cancel-button {
  -webkit-appearance: none;
  display: none; /* Hide the clear button */
}
.search-icon {
  position: absolute;
  right: 10px; /* Align the icon to the right side of the input field */
  top: 50%; /* Center it vertically */
  transform: translateY(-50%); /* Adjust for perfect vertical centering */
  font-size: 20px; /* Adjust the size of the icon */
  color: #ccc;
  cursor: pointer;
}

.search-icon:hover {
  color: #000;
}

.card {
  display: flex;
  width: 90%;
  padding: 10px 20px;
  background-color: #f0f0f0;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  word-wrap: break-word;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.app-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #f1efef;
}

.status-message {
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.2em;
  color: green;
}

.user-list {
  width: 20vw;
  height: 95vh;
  background-color: rgb(231, 237, 238);
  padding: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.vertical-line {
  border-left: 2px solid #dcdcdc;
  height: 95vh;
}

.chat-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  margin-bottom: 10px;
  background-color: rgb(255, 253, 253);
  height: 93vh;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chat-box {
  width: 98%;
  flex-grow: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chat-message {
  margin: 5px;
  display: flex;
  flex-direction: column;
  max-width: 80%;
}

.chat-input {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 97%;
  margin-bottom: 5vh;
  
}

.input-field-chat {
  width: 100%;
  height: 50px;
  /*border-radius: 35px;*/
  align-self: flex-end;
  margin-bottom: 10px;
  font-size: large;
  padding-left: 10px;
  border: none;
  background-color: #f4f2f7;
}

.send-button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  font-size: small;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  background-color: rgb(248, 248, 248);
  color: rgb(0, 0, 0);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.name-display {
  display: flex;
  width: 100%;
  padding: 10px 20px;
  background-color: #f0f0f0;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  word-wrap: break-word;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.select-user{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  background-color: #f0f0f0;
  font-size:larger;
}


.message {
  max-width: 255px;
  word-wrap: break-word;
  margin-bottom: 12px;
  line-height: 24px;
  position: relative;
  padding: 10px 20px;
  border-radius: 25px;
  display: inline-block;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  &:before, &:after {
    content: "";
    position: absolute;
    bottom: -8px; /* Adjusted to prevent overlapping with timestamp */
    height: 25px;
  }
}

.from-me {
  color: white; 
  background: #0B93F6;
  align-self: flex-end;

  &:before {
    right: -7px;
    width: 20px;
    background-color: #0B93F6;
    border-bottom-left-radius: 16px 14px;
  }

  &:after {
    right: -26px;
    width: 26px;
    background-color: white;
    border-bottom-left-radius: 10px;
  }
}

.from-them {
  background: #21e288;
  color: rgb(255, 255, 255);
  align-self: flex-start;

  &:before {
    left: -7px;
    width: 20px;
    background-color: #21e288;
    border-bottom-right-radius: 16px;
  }

  &:after {
    left: -26px;
    width: 26px;
    background-color: white;
    border-bottom-right-radius: 10px;
  }
}

/* Styling for timestamp */
.timestamp {
  width:100%;
  display: block; /* Makes the timestamp below the text */
  font-size: 10px; /* Smaller font size for the timestamp */
  color: rgb(255, 255, 255); /* Subtle color for the timestamp */
  margin-top: 5px; /* Space between message text and timestamp */
  text-align: right; /* Align timestamp to the right */
  /*position: absolute; /* Position it relative to the message bubble */
  bottom: -18px; /* Adjust so it doesn't overlap with the tail */
  right: 0px; /* Ensure it's aligned to the right side */
}
